@tailwind base;
@tailwind components;
@tailwind utilities;

.checkbox {
    border-radius: .25em;
    float: left;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(255,255,255,.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.checkbox:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.checkbox:checked {
    background-color: #4f46e5;
    border-color: #4f46e5;
}

.border-black {
    border: 1px solid rgba(0, 0, 0,.25);
}

.todo-card {
    @apply flex border-b border-slate-700 text-white p-4 
}